<% provide(:title, "生産ライン一覧") %>
<div class="d-flex justify-content-end">
  <%= link_to new_machine_path, class: "btn btn-sm btn-outline-secondary mb-3" do %>
    <i class="fas fa-plus"></i>
    生産ラインの新規登録
  <% end %>
</div>
<div class="list-group mb-3">
  <% @machines.each do |machine| %>
    <%= link_to "#{machine.name}号機", machine_path(machine), class: "list-group-item list-group-item-action" %>
  <% end %>
</div>