<% provide(:title, "#{@machine.name}号機") %>
<div class="card mb-3">
  <div class="card-body">
    生産ライン：<%= @machine.name %>号機
    <div class="d-flex justify-content-end">
      <%= link_to edit_machine_path, class: "btn btn-outline-secondary" do %>
        <i class="fas fa-edit"></i>
        編集
      <% end %>
      <%= link_to machine_path(@machine), method: :delete, class: "btn btn-outline-danger ml-2" do %>
        <i class="fas fa-trash-alt"></i>
        削除
      <% end %>
    </div>
  </div>
</div>