<% provide(:title, "#{@machine.name}号機") %>
<div class="card">
  <div class="card-body">
    生産ライン：<%= @machine.name %>号機
    <div class="d-flex justify-content-end">
      <%= link_to "編集", edit_machine_path, class: "btn btn-outline-secondary" %>
      <%= link_to "削除", machine_path(@machine), method: :delete, class: "btn btn-outline-danger ml-2" %>
    </div>
  </div>
</div>